<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h1>사원목록</h1>

    <div id="app">
      <input
        type="text"
        name="searchName"
        v-model="searchName"
        @keyup.enter="searchEmp"
      />
      <button class="btn btn-primary" @click="searchEmp">검색</button>

      <br /><br />
      <a href="hrm_add.html">사원 추가</a>
      <br /><br />
      <table class="table">
        <tr style="background-color: cadetblue">
          <th>사원 아이디</th>
          <th>사원명</th>
          <th>부서</th>
          <th>직책</th>
          <th>연봉</th>
        </tr>
        <!-- <tr v-for="(emp, index) in items" :key="index" v-if="(emp.name).indexOf(searchName) !== -1"> -->
        <tr v-for="(emp, index) in items" :key="index">
          <td>{{emp.id}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.department}}</td>
          <td>{{emp.position}}</td>
          <td>{{emp.salary}}</td>
        </tr>
      </table>
    </div>
    <script>
      new Vue({
        el: '#app',
        data: function () {
          return {
            items: [],
            searchName: '',
          };
        },
        created() {
          const emp = localStorage.getItem('employee');
          let newemp = {
            items: [],
          };
          if (emp) {
            newemp = JSON.parse(emp);
          } else {
            localStorage.setItem('employee', JSON.stringify(newemp));
          }
          this.items = newemp.items;
        },
        methods: {
          movePage() {
            location.href = 'hrm_add.html';
          },
          searchEmp() {
            let emps = JSON.parse(localStorage.getItem('employee')).items;
            this.items = emps.filter((emp) => {
              return emp.name.indexOf(this.searchName) !== -1 ? true : false;
            });
          },
        },
      });
    </script>
  </body>
</html>
