<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h2>v-for와 v-if 함께 사용하기</h2>
    <div id="app">
        <label>반수 : </label>
        <input type="number" v-model.number="count">
        <ul>
                                            <!-- ==는 값만 같은 것. ===(일치 연산자)는 값과 타입이 둘 다 같아야 함 -->
            <li v-for="(region, index) in ssafy" v-if="region.count === count">
                지역 : {{region.name}}, {{region.count}}개반
            </li>
        </ul>
    </div>
    <script>
        console.log(0 == '0');  // true : 타입은 달라도 상관없다. 값만 같으면 됨
        console.log(0 === '0');  // false : 타입과 값이 둘 다 같아야 함
        new Vue({
            el: "#app",
            data: {
                count: 0,
                ssafy: [{
                        name: "광주",
                        count: 2
                    },
                    {
                        name: "구미",
                        count: 2
                    },
                    {
                        name: "대전",
                        count: 3
                    },
                    {
                        name: "서울",
                        count: 6
                    }
                ]
            }
        })
    </script>
</body>
</html>

