<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div>과일 선택</div>
      <input type="checkbox" id="apple" value="사과" v-model="checkedAreas" />
      <label for="apple">사과</label>
      <input type="checkbox" id="grape" value="포도" v-model="checkedAreas" />
      <label for="grape">포도</label>
      <input type="checkbox" id="water" value="수박" v-model="checkedAreas" />
      <label for="water">수박</label>
      <input type="checkbox" id="straw" value="딸기" v-model="checkedAreas" />
      <label for="straw">딸기</label>
      <br />
      <span>체크한 이름: {{ checkedAreas }}</span>
    </div>
    <script>
      new Vue({
        el: '#app',
        data: {
          checkedAreas: [],
        },
      });
    </script>
  </body>
</html>
