<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div>
        <p>과일 선택</p>
        <select v-model="selectedFruit">
          <option v-for="option in options" v-bind:value="option.value">{{ option.text }}</option>
        </select>
      </div>
      <span>선택한 과일 : {{ selectedFruit }}</span>
    </div>
    <script>
      new Vue({
        el: '#app',
        data: {
          selectedFruit: '',
          options: [
            { text: '사과', value: 'apple' },
            { text: '포도', value: 'grape' },
            { text: '수박', value: 'watermelon' },
            { text: '딸기', value: 'strawberry' },
          ],
        },
      });
    </script>
  </body>
</html>
