<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div>
        <span>나이 : </span>
        <input type="number" v-model="age" />
      </div>
      <!-- 화면이 자주 바뀌는 것에는 show 를 해놔야 렌더링 된 상태에서 display none했다안했다 할 수 있다.
          더 편함..
          화면 자주 안 바뀌는 거는 그냥 if 쓰삼..
          경우에 따라서 v-show / v-if 선택....
      -->
      <div>
        요금 :
        <!--           ↓ 여기 값이 true/false 로 들어가는 것!!!! -->
        <span v-if="age < 10">무료</span> <!-- v-show 와 다르게 조건이 안 맞으면 렌더링이 아예 안 됨 -->
        <span v-else-if="age < 20">7000원</span>
        <span v-else-if="age < 65">10000원</span>
        <span v-else>3000원</span>
      </div>
    </div>
    <script>
      const vm = new Vue({
        el: '#app',
        data: {
          age: '0',
        },
      });
    </script>
  </body>
</html>
