<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            아래의 입력창에 입력된 내용이 화면 하단에 보여줄수 있도록 코드를 작성하시오
        </div>
        <div>
            이름 : <input type="text"  v-model="name">
        </div>
        <div>
            나이 : <input type="text" v-model="age">
        </div>
        <div>
            주소 : <input type="text" v-model="addr">
        </div>
        <div>
            {{ name }}님 당신의 나이는 {{ age }}살이고 주소는 {{ addr }}입니다.
        </div>
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                name: '',
                age: '',
                addr: '',
            }
        });
    </script>
</body>

</html>